#!/bin/bash

# The name of the docker container that the systemd service will run
export NAME=""

# The dockerhub image name that the service will pull from
export IMG=""

# The port forwading from the container
# suggested: 1194:1194/udp"
export PORT="1194:1194/udp"

# The folder for openvpn configuration that will be used as a volume in docker container
# suggested: /etc/openvpn
export DATA_VOL="/etc/openvpn"