[Unit]
Description=infra scheduling
After=network.target docker.service
Requires=docker.service

[Service]
RestartSec=10
Restart=always

ExecStartPre=-/etc/scheduling/setup.sh
ExecStart=/etc/scheduling/start.sh
ExecStartPost=-/etc/scheduling/cleanup.sh

[Install]
WantedBy=multi-user.target
