[Unit]
Description=infra scheduling
After=network.target docker.service
Requires=docker.service

[Service]
RestartSec=10
Restart=always

ExecStartPre=-/opt/infra/config/setup.sh
ExecStart=/opt/infra/config/start.sh
ExecStartPost=-/opt/infra/config/cleanup.sh

[Install]
WantedBy=multi-user.target
